.about-content {
    /* height: 90vh; */
    width: 100vw;
    background-color: #293038;
    /* background-color: #000C22; */
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 90vh;
}

.about-content-container {
    display: flex;
    /* justify-content: space-around; */
    align-self: flex-start;
    width: 100%;
    margin-top: 5%;
    /* margin: 0% 10%; */

}

.about-photo-container {
    flex: 1;
    /* background-color: blue; */
    /* padding-left: 10%; */
    display: flex;
    justify-content: center;
    
}

.about-photo {
    height: 20rem;
    width: 19rem;
}
@media (max-width: 1000px) {
    .about-content-container {
        flex-direction: column;
        gap: 12px;
    }
}


.about-paragraph-container {
    flex:2;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* padding-right: 10%; */
    margin: 0% 5%;
    height: 100%;
}


ul {
    list-style: none;
    padding-left: 1em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.list-icon {
    flex: 1;
    height: 2em;
    margin-right: 1em
}

.education-list-icon {
    flex: 0.5;
    height: 3em;
    margin-right: 1em
}
.about-list {
    padding: 0.5em 0;
}


.about-list-row {
    display: flex;
    /* height: 3rem; */
    margin: 1rem 0 2rem 0;
    
}

.about-list-title {
    font-size: 1.5em;
}

.list-text {
    flex: 10;
}


.about-text-description {
    font-size: 1em;
}

.list-icon {
    /* flex: 1; */
    height: 2em;
    /* width: 1em; */
    /* margin-right: 1em */
}


