.frequency-analyser-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 22px;
    background-color: rgb(228, 228, 228);


}

.frequency-analyser-canvas {
    background-color: rgb(238, 238, 238);

}

.frequency-analyser-title {
    font-size: 14px;
    /* font-weight: bold; */
}


 #nexus-ui-multislider-4 {
    pointer-events: none;
    cursor: default;
}