.navigation-container {
    display: flex;
    /* margin: 1rem 0 0 0; */
    /* background-color: #293038; */
    height: 10vh;

}

.navigation-left-header {
    display: flex;
    flex: 2;
    justify-content: center;
}

.navigation-left-links {
    display: flex;
    flex: 10;
    }

.navigation-right-links {
    display: flex;
    flex: 2;
    justify-content: center;

}

.navigation-main-link {
    margin-right: 3rem;

}

.navigation-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 1rem 0.25rem;
    cursor: pointer;

}

.navigation-link:hover {
    /* background-color: grey; */
    text-decoration: underline;
    /* color: red; */
}

.navigation-link:active {
    text-decoration: none;
    /* color: rgb(35, 182, 35); */
}

.contact-link {
    background-color: transparent;
    border: 2px solid rgb(9, 160, 206);
    width: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    cursor: pointer;
    color: white;
}

.contact-link:hover {
    background-color: rgb(9, 160, 206);
    text-decoration: none;

}

.contact-link:active {
    background-color: rgba(9, 160, 206, 0.527);
    border: 2px solid rgba(9, 160, 206, 0.014);

}
