.navigation-container {
    display: flex;
    /* margin: 1rem 0 0 0; */
    /* background-color: #293038; */
    height: 10vh;

}

.navigation-left-header {
    display: flex;
    flex: 2;
    justify-content: center;
}

.navigation-left-links {
    display: flex;
    flex: 10;
    }

.navigation-right-links {
    display: flex;
    flex: 2;
    justify-content: center;

}

.navigation-main-link {
    margin-right: 3rem;

}

.navigation-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 1rem;

}

.navigation-link:hover {
    /* background-color: grey; */
    text-decoration: underline;
    /* color: red; */
}

.navigation-link:active {
    text-decoration: none;
    /* color: rgb(35, 182, 35); */
}