.piano-container {
    flex: 1.5;
    width: 100%;
    /* background-color: blue; */
    margin-top: 5.5rem;
    position: relative;
}

.piano-options-container {
    display: flex;
    position: absolute;
    left: 20%;
    bottom: 100%;
    z-index: 22;
    /* transform: translateX(-40%); */
    /* padding: 1rem; */

    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 0.75rem;
    /* background-color: rgba(127, 67, 37, 0.555) */
    /* width: 100%; */
    /* background-color: green; */
}


.piano-option {
    outline: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0.5rem 0 0;
}


.piano-keyboard-container {
    position: relative;
    z-index: 1;
    flex: 1;

}

.piano-key {
    position: absolute;
    padding: 1rem 0.25rem;
    width: 30px;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 5px 1px rgba(148, 139, 139, 0.363);
    cursor: pointer;
    touch-action: none;
}

.piano-key:hover{
    background-color: grey;
}

/* .piano-key:active {
    background-color: gold;
    box-shadow: none;
    margin-top: 5px;
} */

.white-key {
    position: absolute;
    background-color: white;
    color: white;
    height: 10rem;
    z-index: 0;
}

.black-key {
    background-color: black;
    color: black;
    height: 5rem;
    z-index: 1;
}

.piano-octave {
    flex: 1;
    display: flex;
}

.middle-c {
    position: relative;
    top: 100%;
    height: 10px;
    border: 2px solid #bebebe;
    border-radius: 50%;
    width: 8px;
    background-color: #bebebe;
    z-index: 12;
}

.piano-sustain-button {
    position: absolute;
    top: -10%;
    left: 12.5%;
    z-index: 3;

}