.synthesis-page {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh; 
    overflow-y: scroll;

}

.synthesis-menu {
    display: flex;
    box-sizing: border-box;
    background-color: #616161;
    border: 2px solid black;
    border-radius: 8px;
    width: 100%;

}

.synthesis-menu-item {
    /* margin-left: 1rem; */
    padding: 1rem 1.5rem;
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.synthesis-menu-item:hover {
    /* margin-left: 1rem; */
    /* text-decoration: underline; */
    background-color: #a0a0a0;
}

.synthesis-menu-item-active {
    /* font-weight: bold; */
    /* color: black; */
    background-color: black;
}

.synthesis-content {
    box-sizing: border-box;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.synthesis-content-title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;

}

.synthesis-content-text {
    display: flex;
    width: 50%;
    padding: 0.5rem;
}

.synthesis-example-container {
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    border: 2px solid grey;
    justify-content: center;
    padding: 1rem;
    /* width: 100%; */

}

.synthesis-preset-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.synthesis-label {
    font-size: 14px;
    margin: 0.5rem 0;

}



.synthesis-example-analysis-container {
    display: flex;
    /* flex-grow: 0.25; */
    margin-top: 0.5rem;
    justify-content: space-between;
}

#nexus-ui-select-1 {
    /* margin: 0.5rem 0!important; */
}